# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [14]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalia_termica = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]

diferenca_termica = pd.Series(data=anomalia_termica)
diferenca_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [16]:

# seu código aqui
anos=[1900, 1920, 1940, 1960, 1980, 2000, 2020]
      
anomalia_termica = pd.Series(data=anomalia_termica, index=anos)
anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [18]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
series_temperatura = pd.Series(data=dic_temperaturas)
series_temperatura

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [23]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arr_dataframe = pd.DataFrame(arr)
arr_dataframe

             0           1           2
0    93.083998   94.745657   89.937601
1   116.125359  121.409166   88.618795
2    78.933949   88.022536  100.906916
3   114.220665  106.188544  100.363735
4   105.375764  102.849904   86.344103
5   116.605690  107.955646   97.472678
6    87.569073  107.023029   93.463045
7    98.215439  105.746637  108.145793
8   122.855595  112.557036  105.113525
9   105.231949   98.102494   98.129227
10  107.182594   94.286826   89.310052
11   99.824341  101.719072   97.816121
12   98.229790   81.196805  116.594083
13  101.270194   89.007179  106.155922
14   97.735120  100.630715  106.649827
15   87.955979  118.108831  105.342067
16   94.800433   95.786259   95.984442
17   96.175616   85.036035   92.915794
18   91.665209  108.676699   99.119815
19   77.006416   99.312112   92.134382

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [31]:
#seu código aqui
arr_dataframe = pd.DataFrame(data=arr, index=range(1, 21), columns=['x1', 'x2','x3'])
arr_dataframe

            x1          x2          x3
1    93.083998   94.745657   89.937601
2   116.125359  121.409166   88.618795
3    78.933949   88.022536  100.906916
4   114.220665  106.188544  100.363735
5   105.375764  102.849904   86.344103
6   116.605690  107.955646   97.472678
7    87.569073  107.023029   93.463045
8    98.215439  105.746637  108.145793
9   122.855595  112.557036  105.113525
10  105.231949   98.102494   98.129227
11  107.182594   94.286826   89.310052
12   99.824341  101.719072   97.816121
13   98.229790   81.196805  116.594083
14  101.270194   89.007179  106.155922
15   97.735120  100.630715  106.649827
16   87.955979  118.108831  105.342067
17   94.800433   95.786259   95.984442
18   96.175616   85.036035   92.915794
19   91.665209  108.676699   99.119815
20   77.006416   99.312112   92.134382

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [35]:
# seu código aqui
arr_dataframe['media'] = (arr_dataframe['x1'] + arr_dataframe['x2'] + arr_dataframe['x3'])/3
arr_dataframe

            x1          x2          x3       media
1    93.083998   94.745657   89.937601   92.589085
2   116.125359  121.409166   88.618795  108.717773
3    78.933949   88.022536  100.906916   89.287800
4   114.220665  106.188544  100.363735  106.924315
5   105.375764  102.849904   86.344103   98.189924
6   116.605690  107.955646   97.472678  107.344671
7    87.569073  107.023029   93.463045   96.018383
8    98.215439  105.746637  108.145793  104.035956
9   122.855595  112.557036  105.113525  113.508719
10  105.231949   98.102494   98.129227  100.487890
11  107.182594   94.286826   89.310052   96.926491
12   99.824341  101.719072   97.816121   99.786511
13   98.229790   81.196805  116.594083   98.673559
14  101.270194   89.007179  106.155922   98.811098
15   97.735120  100.630715  106.649827  101.671887
16   87.955979  118.108831  105.342067  103.802292
17   94.800433   95.786259   95.984442   95.523712
18   96.175616   85.036035   92.915794   91.375815
19   91.665209  108.676699   99.119815   99.820574
20   77.006416   99.312112   92.134382   89.484304

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [40]:
# seu código aqui
arr_dataframe['log_med'] = np.log(arr_dataframe['media'])
arr_dataframe

            x1          x2          x3       media   log_med
1    93.083998   94.745657   89.937601   92.589085  4.528171
2   116.125359  121.409166   88.618795  108.717773  4.688755
3    78.933949   88.022536  100.906916   89.287800  4.491865
4   114.220665  106.188544  100.363735  106.924315  4.672121
5   105.375764  102.849904   86.344103   98.189924  4.586904
6   116.605690  107.955646   97.472678  107.344671  4.676045
7    87.569073  107.023029   93.463045   96.018383  4.564540
8    98.215439  105.746637  108.145793  104.035956  4.644737
9   122.855595  112.557036  105.113525  113.508719  4.731880
10  105.231949   98.102494   98.129227  100.487890  4.610037
11  107.182594   94.286826   89.310052   96.926491  4.573953
12   99.824341  101.719072   97.816121   99.786511  4.603033
13   98.229790   81.196805  116.594083   98.673559  4.591817
14  101.270194   89.007179  106.155922   98.811098  4.593210
15   97.735120  100.630715  106.649827  101.671887  4.621751
16   87.955979  118.108831  105.342067  103.802292  4.642488
17   94.800433   95.786259   95.984442   95.523712  4.559375
18   96.175616   85.036035   92.915794   91.375815  4.514981
19   91.665209  108.676699   99.119815   99.820574  4.603374
20   77.006416   99.312112   92.134382   89.484304  4.494063